.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;

  background-color: var(--color-primary);
  color: white;

  padding: 10px 15px;
  width: 8rem;

  border-radius: 10px;

  font-size: 0.95rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;
}

.button:hover {
  transform: translateY(-1px);

  box-shadow: var(--shadow-md);
}

.button:active {
  transform: translateY(0);
}